
div {
	transition: transform 0.6s cubic-bezier(0.66 , 0.08 , 0.23 , 1);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.66 , 0.08 , 0.23 , 1);
	-moz-transition: -moz-transform 0.6s cubic-bezier(0.66 , 0.08 , 0.23 , 1);

	transform: translateX(-320px);
	-webkit-transform: translateX(-320px);
	-moz-transform: translateX(-320px);

	background-color: rgba(0,0,0,0.7);

	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;

	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */

	width: calc(100% - 100px);
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);

	transform: rotate(360deg);

	overflow:hidden; color:transparent; font-size:1px; text-indent:-9999px;

	background-size:100% 100%; background-repeat:no-repeat;

	display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical;

	overflow:hidden; text-overflow:ellipsis; white-space:nowrap;


	background-image:url('../images/common/icon_arr.png');
	background-image:url(''+$url-common+'icon_arr.png');

	transform:rotate(180deg);

	white-space
									

	validation

	@include;
	@at-root;
	@content;
}
@include slideAnimate(100%, 0, .3s, cubic-bezier(0, 0, 0, 1));
@include slideAnimate(0, -100vh, .4s, cubic-bezier(1, 0, 1, 1));


cubic-bezier(0.32, 0.08, 0.24, 1)

cubic-bezier(0.52, 0.16, 0.24, 1)

cubic-bezier(0.52, 0.16, 0.52, 0.84)







스켈레톤