@charset "UTF-8";
@use "variables" as *;

/* NotoSansKR-Light */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NotoSansKR-Light.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Light'),
			url('../fonts/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Light.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Light.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Regular */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSansKR-Regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Regular'),
			url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Regular.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Medium */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/NotoSansKR-Medium.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Medium'),
			url('../fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Medium.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Medium.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Bold */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NotoSansKR-Bold.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Bold'),
			url('../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Bold.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Bold.woff') format('woff'); /* Modern Browsers */
}
html, body {height:100%;}
body, button, input, select, textarea {
	color:$font-color-default;
	font-size:$font-size-default;
	font-weight:$font-weight-regular;
	font-family:$font-family-base;
	letter-spacing:-.5px;
}


/* ripple effect */
.c-ripple {
	position:relative;
	overflow:hidden;
	touch-action:manipulation;
	-webkit-tap-highlight-color:transparent;
	&-animate {
		position:absolute;
		width:20px;
		height:20px;
		border-radius:100%;
		background:#000;
		transform:translate(-50%, -50%) scale(.1);
		animation:rippleActive .4s linear;
	}
	@keyframes rippleActive {
		0% {transform: translate(-50%, -50%) scale(.1);}
		100% {transform: translate(-50%, -50%) scale(var(--material-scale)); opacity:0;}
	}
}