@charset "UTF-8";

/* NotoSansKR-Light */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NotoSansKR-Light.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Light'),
			url('../fonts/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Light.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Light.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Regular */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSansKR-Regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Regular'),
			url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Regular.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Medium */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/NotoSansKR-Medium.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Medium'),
			url('../fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Medium.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Medium.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Bold */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NotoSansKR-Bold.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Bold'),
			url('../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Bold.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Bold.woff') format('woff'); /* Modern Browsers */
}

html, body {height:100%;}
body, button, input, select, textarea {
	color:$default;
	font-size:14px;
	font-weight:$font-regular;
	font-family:'Noto Sans KR', sans-serif;
	letter-spacing:-.5px;
}

/* select */
select {
	height:50px;
	padding:0 40px 0 20px;
	border:1px solid $line-c8;
	background:$white url(''+$url-common+'icon_select03.png') no-repeat right 20px center;
	border-radius:0px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor: pointer;
	@include textEllipsis;
}
select::-ms-expand {
	display:none
}

/* input */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
	height:50px;
	padding:0 20px;
	border:1px solid $line-c8;
	background-color:$white;
	color:$default;
	@include textEllipsis;
	&::-ms-clear {
		display:none;
	}
	&::placeholder {
		color:#bfbfbf;
	}
	&[readonly],
	&:disabled {
		color:$default;
		background-color:#f5f5f5;
	}
	&:read-only {
		color:$default;
		background-color:#f5f5f5;
	}
}