@charset "UTF-8";

/* input */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
	height:$input-height-default;
	padding:$input-padding-default;
	border:1px solid $input-border-default;
	border-radius:$input-radius-default;
	background-color:$input-bg-default;
	color:$input-color-default;
	@include textEllipsis;
	&::-ms-clear {
		display:none;
	}
	&::placeholder {
		color:$input-color-placeholder;
	}
	&[readonly],
	&:disabled {
		color:$input-color-disabled;
		background-color:$input-bg-disabled;
	}
	&:read-only {
		color:$input-color-disabled;
		background-color:$input-bg-disabled;
	}
}