@charset "UTF-8";

// hide Text
@mixin commonHideTxt($bgImg:false, $bgImgW:100%, $bgImgH:100%) {
	@if $bgImg {
		background-size:$bgImgW $bgImgH;
		background-position:center center;
		background-repeat:no-repeat;
	};
	overflow:hidden;
	color:transparent;
	font-size:1px;
	text-indent:-9999px;
}
// slide Down && slide Up
@mixin slideAnimate($mh, $mt, $ts, $tcb) {
	max-height: $mh;
	margin-top: $mt;
	transition: all $ts $tcb;
}
// 말줄임
@mixin textEllipsis() {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}