@charset "UTF-8";


$prefix: gc- !default;

// color
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray:     #6c757d !default;
$black:    #000 !default;
$blue:     #0d6efd !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #d63384 !default;
$red:      #dc3545 !default;
$orange:   #fd7e14 !default;
$yellow:   #ffc107 !default;
$green:    #198754 !default;
$teal:     #20c997 !default;
$cyan:     #0dcaf0 !default;

// body
$body-bg :transparent !default;
$body-bg-dark :$black !default;

// text
$font-color-default:$black !default;
$font-color-default-dark:$white !default;
$font-weight-light:300 !default;
$font-weight-regular:400 !default;
$font-weight-medium:500 !default;
$font-weight-bold:700 !default;

// btn
$btn-disabled-color: $gray-500 !default;
$btn-disabled-bg: $gray-400 !default;

// input
$input-default-bg: $white !default;
$input-default-bg-dark: $black !default;
$input-disabled-bg: $gray-200 !default;

// url
$url-path: "../images/" !default;
$url-common: ""+$url-path+"common/" !default;


$primary:   $blue !default;
$secondary: $gray-600 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $yellow !default;
$danger:    $red !default;
$light:     $gray-500 !default;
$dark:      $gray-900 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;


$colors:(
	font-color-default:$font-color-default,
	body-bg:$body-bg,
	input-default-bg:$input-default-bg,
);
$colors-dark:(
	font-color-default:$font-color-default-dark,
	body-bg:$body-bg-dark,
	input-default-bg:$input-default-bg-dark,
);

:root {
	@each $name, $color in $colors{
		--#{$name}:#{$color};
	}
	@media (prefers-color-scheme: dark) {
		@each $name, $color in $colors-dark{
			--#{$name}:#{$color};
		}
	}
}

@function getColor($color-name){
	@return var(--#{$color-name});
}





// // color
// $white:#fff !default;
// $light:#999 !default;
// $default:#797979 !default;
// $dark:#1f1b1c !default;
// $black:#000 !default;
// $primary:#004d45 !default;
// $secondary:#17af98 !default;
// $emphasis:#fa4156 !default;
// $warning:#e6b300 !default;
// $info:#bfbfbf !default;

// $theme-colors: () !default;
// $theme-colors: map-merge(
// 	(
// 		"primary":		$primary,
// 		"secondary":	$secondary,
// 		"dark":			$dark,
// 		"default":		$default,
// 		"light":		$light,
// 		"info":			$info
// 	),
// 	$theme-colors
// );


// $themes: (
// 	default: (
// 		white: $white,
// 		light: $light,
// 		default: $default,
// 		dark: $dark,
// 		black: $black,
// 		primary: $primary,
// 		secondary: $secondary,
// 		emphasis: $emphasis,
// 		warning: $warning,
// 		info: $info
// 	),
// 	dark: (
// 		white: $white,
// 		light: $light,
// 		default: $default,
// 		dark: $dark,
// 		black: $black,
// 		primary: red,
// 		secondary: $secondary,
// 		emphasis: $emphasis,
// 		warning: $warning,
// 		info: $info
// 	),
// );
// $white:'white';
// $light:'light';
// $default:'default';
// $dark:'dark';
// $black:'black';
// $primary:'primary';
// $secondary:'secondary';
// $emphasis:'emphasis';
// $warning:'warning';
// $inf:'info';

// @mixin themed() {
// 	@each $theme, $map in $themes {
// 		.theme--#{$theme} & {
// 			$theme-map: () !global;
// 			@each $key, $submap in $map {
// 				$value: map-get(map-get($themes, $theme), '#{$key}');
// 				$theme-map: map-merge($theme-map, ($key: $value)) !global;
// 			}
// 			@content;
// 			$theme-map: null !global;
// 		}
// 	}
// }

// @function t($key) {
// 	@return map-get($theme-map, $key);
// }






// // color
// $white:#bfbfbf !default;
// $light:#999 !default;
// $default:#797979 !default;
// $dark:#1f1b1c !default;
// $black:#000 !default;

// $primary:yellow !default;

// $secondary:#17af98 !default;
// $emphasis:#fa4156 !default;
// $warning:#e6b300 !default;
// $info:#bfbfbf !default;

// $theme-colors: () !default;
// $theme-colors: map-merge(
// 	(
// 		"primary":		$primary,
// 		"secondary":	$secondary,
// 		"dark":			$dark,
// 		"default":		$default,
// 		"light":		$light,
// 		"info":			$info
// 	),
// 	$theme-colors
// );

// $colors:(
// 	c-white:$white,
// 	c-light:$light,
// 	c-default:$default,
// 	c-dark:$dark,
// 	c-black:$black,
// 	c-primary:$primary,
// 	c-secondary:$secondary,
// 	c-emphasis:$emphasis,
// 	c-warning:$warning,
// 	c-info:$info,
// );
// $colors-dark:(
// 	c-white:$white,
// 	c-light:$light,
// 	c-default:$default,
// 	c-dark:$dark,
// 	c-black:$black,
// 	c-primary:red,
// 	c-secondary:$secondary,
// 	c-emphasis:$emphasis,
// 	c-warning:$warning,
// 	c-info:$info,
// );

// :root {
// 	@each $name, $color in $colors{
// 		--#{$name}:#{$color};
// 	}
// }
// @media (prefers-color-scheme: dark) {
// 	:root {
// 		@each $name, $color in $colors-dark{
// 			--#{$name}:#{$color};
// 		}
// 	}
// }

// @function getColor($color-name){
// 	@return var(--#{$color-name});
// }


// $line-c8:#c8c8c8 !default;
// $line-e0:#e0e0e0 !default;

// // font
// $font-light:300 !default;
// $font-regular:400 !default;
// $font-medium:500 !default;
// $font-bold:700 !default;

// // url
// $url-path: "../images/" !default;
// $url-common: ""+$url-path+"common/" !default;










//////////////==================@include theme(background-color, $primary-color-dark);=====================//////////////
// $light-theme: "light-theme";
// $dark-theme: "dark-theme";

// $primary-color-dark: "aaaaaaaa";
// $primary-color: "primary-color";
// $primary-color-light: "primary-color-light";
// $primary-color-text: "primary-color-text";
// $accent-color: "accent-color";
// $primary-text-color: "primary-text-color";
// $secondary-text-color: "secondary-text-color";
// $divider-color: "divider-color";
// $general-background: "general-background";
// $general-background-light: "general-background-light";
// /* ...other color keys... */

// $themes: (
// 	$light-theme: (
// 		$primary-color-dark: #fff,
// 		$primary-color: #000,
// 		$primary-color-light: #DFDFF1,
// 		$primary-color-text: #FFFFFF,
// 		$accent-color: #0F67FF,
// 		$primary-text-color: #151515,
// 		$secondary-text-color: #575757,
// 		$divider-color: #BDBDBD,
// 		$general-background: #FAFAFA,
// 		$general-background-light: #FFFFFF,
// 	/* ...other color keys with HEX values... */
// 	),
// 	$dark-theme: (
// 		$primary-color-dark: #000,
// 		$primary-color: #fff,
// 		$primary-color-light: #DFDFF1,
// 		$primary-color-text: #FFFFFF,
// 		$accent-color: #4fA7ff,
// 		$primary-text-color: #d7d7d8,
// 		$secondary-text-color: #A6A6A6,
// 		$divider-color: #575757,
// 		$general-background: #181918,
// 		$general-background-light: #363636,
// 	/* ...other color keys with HEX values... */
// 	)
// );

// @mixin themeProperty($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
// 	@if $additionalPropertiesPositionIsFront {
// 		#{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
// 	} @else {
// 		#{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
// 	}
// }

// @mixin theme($property, $color, $additionalPropertiesPositionIsFront: false, $additionalProperties: '') {
// 	$light: map-get($themes, $light-theme);
// 	$dark: map-get($themes, $dark-theme);

// 	@include themeProperty($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);

// 	@media (prefers-color-scheme: dark) {
// 		@include themeProperty($dark, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
// 	}
// }
//////////////==================@include theme(background-color, $primary-color-dark);=====================//////////////