@charset "UTF-8";

@import "base";
@import "variables";
@import "mixin";
@import "common";
@import "button";

/* layout */

html {
	overflow:hidden;
	&.global-nav-open {
		overflow:hidden;
		#wrap {
			#header {
				height:100%;
				background-color:#000;
				#globalNav {
					.btn-global-nav {
						&:after,
						&:before {
							left:15px;
							width:17px;
						}
						&:before {transform:rotate(45deg);}
						&:after {transform:rotate(-45deg);}
					}
					.global-nav-list {
						visibility:visible;
						transition-delay:0s;
						li {
							opacity:1;
							transform:none;

							@for $i from 1 through 10 {
								&:nth-child(#{$i}) {
									transition:opacity .35s cubic-bezier(0.32, 0.08, 0.24, 1) .2 + $i * .02s, transform .35s cubic-bezier(0.32, 0.08, 0.24, 1) $i * .04s;
								}
							}
						}
					}
				}
				.my-bag {
					transform:translateY(8px);
					opacity:0;
					visibility:hidden;
					transition:transform 0.36s cubic-bezier(0.54, 0.12, 0.88, 0.64),opacity 0.3s cubic-bezier(0.32, 0.08, 0.24, 1),visibility 0s linear .64s;
				}
				.h-search-box {
					visibility:visible;
					opacity: 1;
					transition:opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s, transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s,visibility 0s linear 0s;
				}
			}
		}
	}
}
#wrap {
	position:relative;
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	/* header */
	#header {
		position:fixed;
		top:0;
		left:0;
		overflow:hidden;
		width:100%;
		height:48px;
		background-color:rgba(0, 0, 0, .8);
		backdrop-filter:saturate(180%) blur(20px);
		transition:background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .6s cubic-bezier(0.52, 0.16, 0.24, 1);
		flex-shrink:0;
		z-index:10;
		.logo {
			position:relative;
			display:flex;
			justify-content:center;
			height:48px;
			a {
				position:relative;
				display:block;
				width:48px;
				height:100%;
				z-index:2;
				background-image:url('https://www.apple.com/ac/globalnav/7/ko_KR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__b5er5ngrzxqq_small.svg');
				@include commonDeleteTxt($bgImg:true, $bgImgW:auto, $bgImgH:auto);
			}
		}
		.my-bag {
			position:absolute;
			top:0;
			right:0;
			width:48px;
			height:48px;
			z-index:2;
			background-image:url('https://www.apple.com/ac/globalnav/7/ko_KR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_small.svg');
			transition:transform 0.44s 0.2s cubic-bezier(0.04, 0.04, 0.12, 0.96), opacity 0.28s 0.36s cubic-bezier(0.52, 0.16, 0.24, 1);
			@include commonDeleteTxt($bgImg:true, $bgImgW:auto, $bgImgH:auto);
		}
		.h-search-box {
			visibility:hidden;
			position:relative;
			display:flex;
			width:100%;
			padding:17px 10px;
			opacity:0;
			transform: translateY(-16px);
			transition:visibility 0s linear 1s, opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s, transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
			z-index:3;
			input {
				flex:1;
				height:36px;
				padding:0 30px;
				border:none;
				background-color:#1d1d1f;
				border-radius:8px;
				color:#fff;
				font-size:15px;
			}
			.cancel {
				display:none;
				margin-left:10px;
				padding:0 8px;
				color:#2997ff;
				font-size:15px;
			}
		}
		#globalNav {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			.btn-global-nav {
				position:relative;
				width:48px;
				height:48px;
				z-index:2;
				@include commonDeleteTxt;
				&:after,
				&:before {
					content:'';
					position:absolute;
					top:50%;
					left:16px;
					width:15px;
					height:1px;
					background-color:#fff;
					transition:all .3s;
				}
				&:before {transform:translateY(-3px);}
				&:after {transform:translateY(3px);}
			}
			.global-nav-list {
				overflow-y:auto;
				visibility:hidden;
				position:absolute;
				top:105px;
				left:0;
				right:0;
				bottom:0;
				padding:0 40px;
				border-top:1px solid #424245;
				transition:visibility 0s .5s;
				li {
					opacity:0;
					@for $i from 1 through 10 {
						&:nth-child(#{$i}) {
							transform:translateY(-48px + 4px * $i);
							transition:opacity .4s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1 - $i * .015s, transform .4s cubic-bezier(0.52, 0.16, 0.52, 0.84) .2s - $i * .015s;
						}
					}
					&:first-child a {margin-top:10px;}
					&:last-child a {margin-bottom:10px;}
					a {
						display:block;
						border-top:1px solid #424245;
						color:#eee;
						font-size:16px;
						line-height:44px;
					}
					&:first-child {
						a {border:none;}
					}
				}
			}
		}
		&.search-open {
			.h-search-box {
				background-color:#000;
				transform:translateY(-48px) !important;
				button {
					display:block;
				}
			}
		}
	}
	/* container */
	#container {
		flex:1 auto;
	}
	/* footer */
	#footer {
		height:100px;
		flex-shrink:0;
		background-color:skyblue;
	}
}