#wrap {
    position:relative;
}
#header {
    position:relative;
    overflow:hidden;
    height:50px;
    background:skyblue;
}
#container {
    position:relative;
    min-height:500px;
}
#footer {
    position:relative;
    overflow:hidden;
    height:50px;
    background:indianred;
}